/build_public/
/build_private/
/pdfs_public/
/pdfs_private/
/projects_private/*
!/projects_private/.gitkeep

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml

_todo.tex